body{
    font-family: Arial, Helvetica, sans-serif;
}

.linked{
    width: 250px;
    height: 250px;
    margin-left: 0px;
    transition: 0.5s;
}

.linked:hover {
    width: 350px;
    height: 350px;
    margin-left: 0px;
    transition: 0.5s;
}

.mail{
    width: 250px;
    height: 250px;
    margin-left: 0px;
    transition: 0.5s;
}

.mail:hover {
    width: 350px;
    height: 350px;
    margin-left: 0px;
    transition: 0.5s;
}

.wpp{
    width: 250px;
    height: 250px;
    margin-left: 0px;
    transition: 0.5s;
}

.wpp:hover {
    width: 350px;
    height: 350px;
    margin-left: 0px;
    transition: 0.5s;
}

h1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    font-size: 400%;
}

.bottoms{
    margin-top: 190px;
}