body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    color:  rgb(196, 196, 196);
}

.content{
    width: 100%; 
    max-width: 500px;
}

.form{ 
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px;
}

textarea{
    height: 150px;
}